:root{
    --dark-purple: #3F3B6C;
    --light-purple: #9F73AB;
    --light-blue:#A3C7D6;
}

/* This has the black background */
body{
    background-color: var(--light-blue);
}
/* header section */
.toprow{
    display: flex;   
    justify-content: space-between;
    align-items: center;
    background: var(--dark-purple);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    color: var(--light-purple);
}
/* profile picture */
img{
    width: 200px;
    height:200px;
    border-radius: 50%;
    object-fit:cover;
    border: solid;
}
/* navigation bar */
nav{
    justify-content: end;
    margin-left: 50px;
    font-size:25px;
    font-weight: 600;
}

ul{
    list-style: none;
}
/* Navigation items */
li{
    display: inline-block;
    margin-right: 10px;
}
/* navigation font */
a{
    text-decoration: underline;
    color:var(--light-purple) ;
}
/* section colors and font */
p{
    background-color: var(--light-blue);
    font-family: Didot, serif;
    font-weight: 600;
}
h2{
    font-family: 'Copperplate Gothic Light';
;
}
footer{
    background: var(--dark-purple);
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: var(--light-purple);
}    

