:root {
  --dark-purple: #3f3b6c;
  --light-purple: #9f73ab;
  --light-blue: #a3c7d6;
}

/* This has the background color*/
body {
  background-color: var(--light-blue);
}

/* header section */
.toprow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark-purple);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
  color: var(--light-purple);
}

/* profile picture */
header > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: solid;
}

/* navigation bar */
nav {
  justify-content: end;
  margin-left: 50px;
  font-size: 25px;
  font-weight: 600;
}

ul {
  list-style: none;
}

/* Navigation items */
li {
  display: inline-block;
  margin-right: 10px;
}

/* navigation font */
header a {
  text-decoration: underline;
  color: var(--light-purple);
}

/* section colors and font */
p {
  background-color: var(--light-blue);
  font-family: Didot, serif;
  font-weight: 600;
}

h2 {
  font-family: "Copperplate Gothic Light";
  font-style: bold;
  grid-area: spot;
}
/* grid for projects */
.horiseon{grid-area: spot1;}
.placeholder1{grid-area: spot2;}
.placeholder2{grid-area: spot3;}

.be-impressed{
  display: grid;
  grid-template-areas:
  'spot spot'
  'spot1 spot2'
  'spot3 spot3';
  gap:10px;
}
/* images in projects */
figure{
  background-color: var(--light-blue);
  max-width: 400px;
  max-height: 400px;
  padding:4px;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  }
/* enlarge hover */
figure:hover{
  transform: scale(1.5);
}
/* project pictures */
figure img {
  max-width: 400px;
  max-height: 400px;
}

footer {
  background: var(--dark-purple);
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: var(--light-purple);
}
