body{
    background-color: black;
}
.toprow{
    display: flex;   
    justify-content: space-between;
    align-items: center;
    background: rgb(45,234,253);
    background: linear-gradient(0deg, rgba(45,234,253,1) 0%, rgba(113,22,224,1) 100%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}

img{
    width: 200px;
    height:200px;
    border-radius: 50%;
    object-fit:cover;
    border: solid;
}

nav{
    justify-content: end;
    margin-left: 50px;
    font-size:25px;
      
}

ul{
    list-style: none;
}

li{
    display: inline-block;
    margin-right: 10px;
}

a{
    text-decoration: underline;
    color:#7116e0 ;
}

p{
    background-color: #2deafd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer{
    background: rgb(113,22,224);
    background: linear-gradient(0deg, rgba(113,22,224,1) 0%, rgba(45,234,253,1) 100%);
}